@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BridgersBrush';
  src: url(../fonts/BridgersBrush.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Odachi';
  src: url(../fonts/Odachi.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TrueLies';
  src:  url(../fonts/TrueLies.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Italic';
  src: url('../fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('https://fonts.gstatic.com/s/inter/v12/UcCO3Fwr0p9g3k3PpQ.woff2') format('woff2'),
       url('https://fonts.gstatic.com/s/inter/v12/UcCO3Fwr0p9g3k3PpQ.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ededed;
  --foreground: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
}

h1 {
  font-family: 'Inter';
  font-weight: 100;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/*****SWIPER CUSTOM CSS*****/
